@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Poppins", sans-serif;
}

.light {
  font-family: "Inter", sans-serif;
  --headline: 212, 212, 212;
  --paragraph: 163, 163, 163;
  --button: 255, 216, 3;
  --background: 29, 35, 42;
  --secondary-paragraph: 88, 28, 135;
  --message-color:217, 217, 217;
  
  
}

.dark {
  font-family: "Inter", sans-serif;
  --headline: 39, 35, 67;
  --paragraph: 45, 51, 74;
  --button: 255, 216, 3;
  --background: 255, 255, 255;
  --secondary-paragraph: 255, 255, 254;
  --email-color:25, 30, 36;
  --email-color:217, 217, 217;


}